In [1]:
from pathlib import Path

# ---------------------------------------------------------
# 경로 설정
# ---------------------------------------------------------
BASE_DIR = Path().resolve().parent.parent.parent
base_path =  BASE_DIR
tn_base_path = base_path / "data" / "train" / "TL_csv"
tn_visit_area_info_H_path = tn_base_path / "tn_visit_area_info_방문지정보_H.csv"
vn_base_path = base_path / "data" / "valid" / "VL_csv"
vn_visit_area_info_H_path = vn_base_path / "tn_visit_area_info_방문지정보_H.csv"

save_path = base_path / "AI 모델" / "1.모델소스코드" / "1.여행로그 장소 추천 고도화" / "data"
print(tn_visit_area_info_H_path)
print(vn_visit_area_info_H_path)
print(save_path)

C:\Users\User\Desktop\xodls\through_pjt_ai\data\train\TL_csv\tn_visit_area_info_방문지정보_H.csv
C:\Users\User\Desktop\xodls\through_pjt_ai\data\valid\VL_csv\tn_visit_area_info_방문지정보_H.csv
C:\Users\User\Desktop\xodls\through_pjt_ai\AI 모델\1.모델소스코드\1.여행로그 장소 추천 고도화\data

In [2]:
import pandas as pd
import numpy as np
# ---------------------------------------------------------
# 데이터 Load, Concat
# ---------------------------------------------------------

train_visit_H = pd.read_csv(tn_visit_area_info_H_path)
valid_visit_H = pd.read_csv(vn_visit_area_info_H_path)
visit_H = pd.concat([train_visit_H, valid_visit_H], axis=0)

In [8]:
visit_H.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51596 entries, 0 to 5586
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   VISIT_AREA_ID        51596 non-null  int64
 1   TRAVEL_ID            51596 non-null  object
 2   VISIT_ORDER          51596 non-null  int64
 3   VISIT_AREA_NM        51596 non-null  object
 4   VISIT_START_YMD      51596 non-null  object
 5   VISIT_END_YMD        51596 non-null  object
 6   ROAD_NM_ADDR         43659 non-null  object
 7   LOTNO_ADDR           44603 non-null  object
 8   X_COORD              42817 non-null  float64
 9   Y_COORD              42817 non-null  float64
 10  ROAD_NM_CD           1503 non-null   float64
 11  LOTNO_CD             1503 non-null   float64
 12  POI_ID               42952 non-null  object
 13  POI_NM               42952 non-null  object
 14  RESIDENCE_TIME_MIN   48715 non-null  float64
 15  VISIT_AREA_TYPE_CD   51596 non-null  int64
 16  REVISIT_YN           45353 non-null  object
 17  VISIT_CHC_REASON_CD  45374 non-null  float64
 18  LODGING_TYPE_CD      6815 non-null   float64
 19  DGSTFN               45342 non-null  float64
 20  REVISIT_INTENTION    45342 non-null  float64
 21  RCMDTN_INTENTION     45342 non-null  float64
 22  SGG_CD               7047 non-null   float64
dtypes: float64(11), int64(3), object(9)
memory usage: 9.4+ MB

### VISIT_AREA_TYPE_CD
- "21",집,
- "22",친구/친지집,
- "23",사무실,
- "24",숙소,
- "13",체험 활동 관광지,
- "1",자연관광지,
- "2","역사/유적/종교 시설(문화재, 박물관, 촬영지, 절 등)",
- "3","문화 시설(공연장, 영화관, 전시관 등)",
- "4","상업지구(거리, 시장, 쇼핑시설)",
- "5","레저/스포츠 관련 시설(스키, 카트, 수상레저)",
- "6","테마시설(놀이공원, 워터파크)",
- "7","산책로, 둘레길 등",
- "8",지역 축제/행사,
- "9","역, 터미널, 고속도로 휴게소",
- "10",상점
- "11",식당/카페
- "12",기타,

In [3]:
# ---------------------------------------------------------
# 데이터 고르기, 일단 명소가 아닌 곳만 제외하고 모두 선택,
# 나중에 테마별로 골라도 좋을 듯
# ---------------------------------------------------------

id_list=['H']

visit_data_list=[visit_H]

for id,visit_area_info in zip(id_list,visit_data_list):
  # 관광지 선택
  visit_info = visit_area_info[ (visit_area_info['VISIT_AREA_TYPE_CD'] == 1) |
   (visit_area_info['VISIT_AREA_TYPE_CD'] == 2) |(visit_area_info['VISIT_AREA_TYPE_CD'] == 3) | (visit_area_info['VISIT_AREA_TYPE_CD'] == 4) |
    (visit_area_info['VISIT_AREA_TYPE_CD'] == 5) | (visit_area_info['VISIT_AREA_TYPE_CD'] == 6) |(visit_area_info['VISIT_AREA_TYPE_CD'] == 7) |
     (visit_area_info['VISIT_AREA_TYPE_CD'] == 8)]
  visit_info = visit_info.groupby('VISIT_AREA_NM').filter(lambda x: len(x) > 1)
  visit_info=visit_info.reset_index(drop = True)

In [4]:
visit_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11181 entries, 0 to 11180
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   VISIT_AREA_ID        11181 non-null  int64
 1   TRAVEL_ID            11181 non-null  object
 2   VISIT_ORDER          11181 non-null  int64
 3   VISIT_AREA_NM        11181 non-null  object
 4   VISIT_START_YMD      11181 non-null  object
 5   VISIT_END_YMD        11181 non-null  object
 6   ROAD_NM_ADDR         6686 non-null   object
 7   LOTNO_ADDR           11000 non-null  object
 8   X_COORD              10820 non-null  float64
 9   Y_COORD              10820 non-null  float64
 10  ROAD_NM_CD           0 non-null      float64
 11  LOTNO_CD             0 non-null      float64
 12  POI_ID               10873 non-null  object
 13  POI_NM               10873 non-null  object
 14  RESIDENCE_TIME_MIN   11181 non-null  float64
 15  VISIT_AREA_TYPE_CD   11181 non-null  int64
 16  REVISIT_YN           11181 non-null  object
 17  VISIT_CHC_REASON_CD  11181 non-null  float64
 18  LODGING_TYPE_CD      25 non-null     float64
 19  DGSTFN               11181 non-null  float64
 20  REVISIT_INTENTION    11181 non-null  float64
 21  RCMDTN_INTENTION     11181 non-null  float64
 22  SGG_CD               179 non-null    float64
dtypes: float64(11), int64(3), object(9)
memory usage: 2.0+ MB

In [5]:
visit_info.isnull().sum()

VISIT_AREA_ID              0
TRAVEL_ID                  0
VISIT_ORDER                0
VISIT_AREA_NM              0
VISIT_START_YMD            0
VISIT_END_YMD              0
ROAD_NM_ADDR            4495
LOTNO_ADDR               181
X_COORD                  361
Y_COORD                  361
ROAD_NM_CD             11181
LOTNO_CD               11181
POI_ID                   308
POI_NM                   308
RESIDENCE_TIME_MIN         0
VISIT_AREA_TYPE_CD         0
REVISIT_YN                 0
VISIT_CHC_REASON_CD        0
LODGING_TYPE_CD        11156
DGSTFN                     0
REVISIT_INTENTION          0
RCMDTN_INTENTION           0
SGG_CD                 11002
dtype: int64

In [12]:
print(visit_info[:20])

    VISIT_AREA_ID  TRAVEL_ID  VISIT_ORDER   VISIT_AREA_NM VISIT_START_YMD  \
0      2306100004  e_e000305            6          실미해수욕장      2023-06-10
1      2306170002  e_e000335            2     타임 테라스 A 블록      2023-06-17
2      2306170006  e_e000335            6       스타필드 코엑스몰      2023-06-17
3      2306170008  e_e000335            8         잠실종합운동장      2023-06-17
4      2305270005  e_e000401            5     시흥 프리미엄 아울렛      2023-05-27
5      2306040004  e_e000437            3            선녀바위      2023-06-04
6      2306040006  e_e000437            5        을왕리 해수욕장      2023-06-04
7      2306030005  e_e000443            5             장봉도      2023-06-03
8      2306030002  e_e000506            5             전등사      2023-06-03
9      2306030003  e_e000506            6             초지진      2023-06-03
10     2306030006  e_e000506            8     대명항 수산물 직판장      2023-06-03
11     2306030007  e_e000506            9          김포함상공원      2023-06-03
12     2306020002  e_e000574            2             전등사      2023-06-02
13     2306030001  e_e000574            4      강화 부근리 고인돌      2023-06-03
14     2306030002  e_e000574            5     대한 성공회 강화성당      2023-06-03
15     2306100008  e_e000580           11             경복궁      2023-06-10
16     2305280004  e_e000588            3          강화풍물시장      2023-05-28
17     2306030002  e_e000632            2             덕수궁      2023-06-03
18     2305280003  e_e000823           16  용기포항 서 방파제 등 대      2023-05-28
19     2305280004  e_e000823           17          끝섬 전망대      2023-05-28

   VISIT_END_YMD             ROAD_NM_ADDR             LOTNO_ADDR     X_COORD  \
0     2023-06-10           인천 중구 큰무리로 108       인천 중구 무의동 768-29         NaN
1     2023-06-17         경기 화성시 동탄중앙로 220          경기 화성시 반송동 96  127.069243
2     2023-06-17          서울 강남구 영동대로 513       서울 강남구 삼성동 159-9  127.059777
3     2023-06-17           서울 송파구 올림픽로 25        서울 송파구 잠실동 10-1  127.073025
4     2023-05-27          경기 시흥시 서해안로 699          경기 시흥시 배곧동 36  126.737081
5     2023-06-04                      NaN              인천 중구 을왕동  126.378624
6     2023-06-04                      NaN          인천 중구 을왕동 746  126.372737
7     2023-06-03                 장봉둘레길 4길                    NaN         NaN
8     2023-06-03    인천 강화군 길상면 전등사로 37-41     인천 강화군 길상면 온수리 635         NaN
9     2023-06-03       인천 강화군 길상면 해안동로 58   인천 강화군 길상면 초지리 624-1         NaN
10    2023-06-03     경기 김포시 대곶면 대명항1로 109   경기 김포시 대곶면 대명리 551-5         NaN
11    2023-06-03  경기 김포시 대곶면 대명항1로 110-36         경기 김포시 대곶면 대명리         NaN
12    2023-06-02    인천 강화군 길상면 전등사로 37-41     인천 강화군 길상면 온수리 635  126.484779
13    2023-06-03   인천 강화군 하점면 강화대로 994-12     인천 강화군 하점면 부근리 322         NaN
14    2023-06-03    인천 강화군 강화읍 관청길27번길 10     인천 강화군 강화읍 관청리 422         NaN
15    2023-06-10           서울 종로구 사직로 161        서울 종로구 세종로 1-91  126.976897
16    2023-05-28      인천 강화군 강화읍 중앙로 17-9     인천 강화군 강화읍 갑곳리 849  126.492902
17    2023-06-03            서울 중구 세종대로 99           서울 중구 정동 5-1  126.974895
18    2023-05-28                      NaN    인천 옹진군 백령면 진촌리 2621  124.736880
19    2023-05-28                      NaN  인천 옹진군 백령면 진촌리 산 47-2  124.718764

      Y_COORD  ...      POI_NM  RESIDENCE_TIME_MIN VISIT_AREA_TYPE_CD  \
0         NaN  ...      실미해수욕장                60.0                  1
1   37.204920  ...   타임테라스 A블럭                30.0                  4
2   37.511318  ...   스타필드 코엑스몰                60.0                  4
3   37.514591  ...     잠실종합운동장               150.0                  3
4   37.379781  ...   시흥프리미엄아울렛               270.0                  4
5   37.438437  ...        선녀바위                60.0                  1
6   37.446292  ...     을왕리해수욕장                30.0                  1
7         NaN  ...         NaN                60.0                  7
8         NaN  ...         전등사                90.0                  2
9         NaN  ...         초지진               120.0                  2
10        NaN  ...     대명항대명포구                30.0                  4
11        NaN  ...      김포함상공원                30.0                  7
12  37.632146  ...         전등사                90.0                  2
13        NaN  ...    강화부근리고인돌                30.0                  2
14        NaN  ...  대한성공회 강화성당                30.0                  2
15  37.577609  ...         경복궁               120.0                  2
16  37.741728  ...      강화풍물시장                30.0                  4
17  37.565564  ...         덕수궁                90.0                  2
18  37.954377  ...  용기포항서방파제등대                30.0                  1
19  37.962051  ...       끝섬전망대                30.0                  1

   REVISIT_YN  VISIT_CHC_REASON_CD  LODGING_TYPE_CD DGSTFN  REVISIT_INTENTION  \
0           N                  5.0              NaN    1.0                1.0
1           Y                 11.0              NaN    5.0                5.0
2           Y                  1.0              NaN    5.0                5.0
3           Y                  1.0              NaN    5.0                5.0
4           N                  6.0              NaN    3.0                2.0
5           N                  5.0              NaN    4.0                3.0
6           Y                  4.0              NaN    4.0                2.0
7           N                  1.0              NaN    5.0                5.0
8           N                  1.0              NaN    4.0                4.0
9           N                  9.0              NaN    5.0                4.0
10          N                  9.0              NaN    3.0                4.0
11          N                  9.0              NaN    4.0                4.0
12          N                  9.0              NaN    5.0                5.0
13          N                 11.0              NaN    4.0                1.0
14          N                  1.0              NaN    5.0                4.0
15          Y                 10.0              NaN    3.0                3.0
16          N                  2.0              NaN    3.0                2.0
17          N                  3.0              NaN    5.0                4.0
18          N                 11.0              NaN    5.0                4.0
19          N                  1.0              NaN    4.0                3.0

    RCMDTN_INTENTION        SGG_CD
0                1.0           NaN
1                4.0           NaN
2                5.0           NaN
3                5.0           NaN
4                3.0           NaN
5                3.0           NaN
6                3.0           NaN
7                5.0  2.872031e+09
8                4.0           NaN
9                4.0           NaN
10               4.0           NaN
11               4.0           NaN
12               5.0           NaN
13               3.0           NaN
14               4.0           NaN
15               3.0           NaN
16               2.0           NaN
17               4.0           NaN
18               4.0           NaN
19               3.0           NaN

[20 rows x 23 columns]

In [6]:
# ---------------------------------------------------------
# rating 계산
# ---------------------------------------------------------
visit_final_H=visit_info

visit_final_H['ratings'] = visit_final_H[['DGSTFN', 'REVISIT_INTENTION', 'RCMDTN_INTENTION']].mean(axis=1)

visit_final_H['TRAVELER_ID'] = visit_final_H['TRAVEL_ID'].str.split('_').str[1]

In [7]:
# ---------------------------------------------------------
# 시도 구분, 같은 장소 통합
# ---------------------------------------------------------
visit_final_H['SIDO'] = visit_final_H['LOTNO_ADDR'].str.split().str[0]

dfh=visit_final_H
# Group by 'FIRST_WORD' and find the most frequent 'VISIT_AREA_NM' for each group
most_frequent_visits = dfh.groupby('LOTNO_ADDR')['VISIT_AREA_NM'].agg(lambda x: x.mode().iloc[0]).reset_index()

In [15]:
print(most_frequent_visits[:30])

                LOTNO_ADDR   VISIT_AREA_NM
0   강원 강릉시 강동면 정동진리 524-25         하슬라아트월드
1         강원 강릉시 강문동 182-1            강문해변
2           강원 강릉시 강문동 산 1          경포해수욕장
3        강원 강릉시 견소동 286-10           안목 해변
4     강원 강릉시 사천면 방동리 282-1            사천해변
5            강원 강릉시 성남동 50         강릉 중앙시장
6          강원 강릉시 주문진읍 교항리         주문진 방사제
7     강원 강릉시 주문진읍 향호리 8-35           주문진해변
8         강원 강릉시 죽헌동 177-4             오죽헌
9           강원 강릉시 초당동 505      아르떼 뮤지엄 강릉
10         강원 고성군 죽왕면 문암진리             능파대
11          강원 고성군 토성면 봉포리           봉포 해변
12         강원 고성군 토성면 아야진리         아야진해수욕장
13       강원 동해시 묵호진동 13-61       도째비골해랑전망대
14       강원 동해시 묵호진동 2-109       도째비골스카이밸리
15       강원 동해시 묵호진동 2-294            논골담길
16        강원 속초시 교동 658-53          민우당 서림
17        강원 속초시 대포동 585-5      외옹치 바다 향기로
18        강원 속초시 동명동 1-185             영금정
19          강원 속초시 설악동 170             신흥사
20          강원 속초시 영랑동 1-9          등대해수욕장
21         강원 속초시 장사동 24-9          설악워터피아
22     강원 속초시 조양동 1450-143           속초 아이
23       강원 속초시 조양동 1450-2  속초해수욕장 제1공영주차장
24       강원 속초시 조양동 1464-7          속초해수욕장
25              강원 속초시 중앙동     중앙시장 입구 삼거리
26        강원 속초시 중앙동 471-4        속초관광수산시장
27       강원 속초시 중앙동 472-23            감나무집
28      강원 속초시 청호동 1341-13        청호 활어회센터
29       강원 속초시 청호동 550-14           아바이마을

In [8]:
dfh = dfh.merge(most_frequent_visits, on='LOTNO_ADDR', how='left', suffixes=('', '_most_frequent'))

# Update 'VISIT_AREA_NM' with the most frequent values
dfh['VISIT_AREA_NM'] = dfh['VISIT_AREA_NM_most_frequent'].fillna(dfh['VISIT_AREA_NM'])

In [9]:
dfh.drop(columns=['VISIT_AREA_NM_most_frequent'], inplace=True)

In [11]:


dfh[['TRAVELER_ID', 'VISIT_AREA_NM','ratings','SIDO', 'VISIT_AREA_TYPE_CD','ROAD_NM_ADDR','LOTNO_ADDR','X_COORD','Y_COORD']]

,TRAVELER_ID,VISIT_AREA_NM,ratings,SIDO,VISIT_AREA_TYPE_CD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD
0,e000305,실미해수욕장,1.000000,인천,1,인천 중구 큰무리로 108,인천 중구 무의동 768-29,NaN,NaN
1,e000335,타임 테라스 A 블록,4.666667,경기,4,경기 화성시 동탄중앙로 220,경기 화성시 반송동 96,127.069243,37.204920
2,e000335,스타필드 코엑스몰,5.000000,서울,4,서울 강남구 영동대로 513,서울 강남구 삼성동 159-9,127.059777,37.511318
3,e000335,잠실종합운동장,5.000000,서울,3,서울 송파구 올림픽로 25,서울 송파구 잠실동 10-1,127.073025,37.514591
4,e000401,시흥 프리미엄 아울렛,2.666667,경기,4,경기 시흥시 서해안로 699,경기 시흥시 배곧동 36,126.737081,37.379781
...,...,...,...,...,...,...,...,...,...
11176,h006731,제지기 오름,3.000000,NaN,1,NaN,NaN,126.622405,33.254246
11177,h006731,쇠소깍,5.000000,NaN,1,NaN,NaN,126.622405,33.254246
11178,h006753,성이시돌목장,5.000000,제주특별자치도,7,제주특별자치도 제주시 한림읍 금악동길 35,제주특별자치도 제주시 한림읍 금악리 142,126.327321,33.347770
11179,h006753,금오름,5.000000,제주특별자치도,1,NaN,제주특별자치도 제주시 한림읍 금악리 산 1-1,126.305839,33.354572
11180,h006753,제주 4.3평화공원,5.000000,제주특별자치도,2,제주특별자치도 제주시 명림로 430,제주특별자치도 제주시 봉개동 237-2,126.617927,33.451268

In [ ]:
# ---------------------------------------------------------
# 시도가 빈 곳은 같은 장소에 채워진 시도로 메움
# 나머지 빈 곳은 드랍
# ---------------------------------------------------------


#df1 = dfh.rename(columns={'TRAVELER_ID': 'userID','VISIT_AREA_NM': 'itemID','ratings': 'rating'})

item_info=dfh[['TRAVELER_ID','VISIT_AREA_NM','ratings','SIDO','VISIT_AREA_TYPE_CD']]
item_info['SIDO'] = item_info.groupby('VISIT_AREA_NM')['SIDO'].transform(
    lambda x: x.ffill().bfill()
)
item_info.dropna(inplace=True)
item_info.to_csv(save_path / "rating_item_info_all_sido.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_4600\3912354621.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  lambda x: x.ffill().bfill()
C:\Users\User\AppData\Local\Temp\ipykernel_4600\3912354621.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  item_info['SIDO'] = item_info.groupby('VISIT_AREA_NM')['SIDO'].transform(
C:\Users\User\AppData\Local\Temp\ipykernel_4600\3912354621.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  item_info.dropna(inplace=True)

In [27]:
print(item_info.isnull().sum())
print(len(item_info))

TRAVELER_ID           0
VISIT_AREA_NM         0
ratings               0
SIDO                  0
VISIT_AREA_TYPE_CD    0
dtype: int64
11115

In [28]:
item_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11115 entries, 0 to 11180
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TRAVELER_ID         11115 non-null  object
 1   VISIT_AREA_NM       11115 non-null  object
 2   ratings             11115 non-null  float64
 3   SIDO                11115 non-null  object
 4   VISIT_AREA_TYPE_CD  11115 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 521.0+ KB

# 여행객 정보

In [ ]:
# ---------------------------------------------------------
# 데이터 Load, Concat
# ---------------------------------------------------------

tn_traveller_master_path = tn_base_path / "tn_traveller_master_여행객 Master_H.csv"
vn_traveller_master_path = vn_base_path / "tn_traveller_master_여행객 Master_H.csv"

train_user_info_H = pd.read_csv(tn_traveller_master_path)
valid_user_info_H = pd.read_csv(vn_traveller_master_path)
user_info_H = pd.concat([train_user_info_H, valid_user_info_H], axis=0)

In [31]:
user_info_H.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2880 entries, 0 to 319
Data columns (total 36 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   TRAVELER_ID                2880 non-null   object
 1   RESIDENCE_SGG_CD           2880 non-null   int64
 2   GENDER                     2880 non-null   object
 3   AGE_GRP                    2880 non-null   int64
 4   EDU_NM                     2880 non-null   int64
 5   EDU_FNSH_SE                2880 non-null   int64
 6   MARR_STTS                  2880 non-null   int64
 7   FAMILY_MEMB                2880 non-null   int64
 8   JOB_NM                     2880 non-null   int64
 9   JOB_ETC                    0 non-null      float64
 10  INCOME                     2880 non-null   int64
 11  HOUSE_INCOME               2190 non-null   float64
 12  TRAVEL_TERM                2880 non-null   int64
 13  TRAVEL_NUM                 2880 non-null   int64
 14  TRAVEL_LIKE_SIDO_1         2880 non-null   int64
 15  TRAVEL_LIKE_SGG_1          2880 non-null   int64
 16  TRAVEL_LIKE_SIDO_2         2880 non-null   int64
 17  TRAVEL_LIKE_SGG_2          2880 non-null   int64
 18  TRAVEL_LIKE_SIDO_3         2880 non-null   int64
 19  TRAVEL_LIKE_SGG_3          2880 non-null   int64
 20  TRAVEL_STYL_1              2880 non-null   int64
 21  TRAVEL_STYL_2              2880 non-null   int64
 22  TRAVEL_STYL_3              2880 non-null   int64
 23  TRAVEL_STYL_4              2880 non-null   int64
 24  TRAVEL_STYL_5              2880 non-null   int64
 25  TRAVEL_STYL_6              2880 non-null   int64
 26  TRAVEL_STYL_7              2880 non-null   int64
 27  TRAVEL_STYL_8              2880 non-null   int64
 28  TRAVEL_STATUS_RESIDENCE    2880 non-null   object
 29  TRAVEL_STATUS_DESTINATION  2880 non-null   object
 30  TRAVEL_STATUS_ACCOMPANY    2880 non-null   object
 31  TRAVEL_STATUS_YMD          2880 non-null   object
 32  TRAVEL_MOTIVE_1            2880 non-null   int64
 33  TRAVEL_MOTIVE_2            2798 non-null   float64
 34  TRAVEL_MOTIVE_3            2717 non-null   float64
 35  TRAVEL_COMPANIONS_NUM      2880 non-null   int64
dtypes: float64(4), int64(26), object(6)
memory usage: 832.5+ KB

In [32]:
user_info_H.isnull().sum()

TRAVELER_ID                     0
RESIDENCE_SGG_CD                0
GENDER                          0
AGE_GRP                         0
EDU_NM                          0
EDU_FNSH_SE                     0
MARR_STTS                       0
FAMILY_MEMB                     0
JOB_NM                          0
JOB_ETC                      2880
INCOME                          0
HOUSE_INCOME                  690
TRAVEL_TERM                     0
TRAVEL_NUM                      0
TRAVEL_LIKE_SIDO_1              0
TRAVEL_LIKE_SGG_1               0
TRAVEL_LIKE_SIDO_2              0
TRAVEL_LIKE_SGG_2               0
TRAVEL_LIKE_SIDO_3              0
TRAVEL_LIKE_SGG_3               0
TRAVEL_STYL_1                   0
TRAVEL_STYL_2                   0
TRAVEL_STYL_3                   0
TRAVEL_STYL_4                   0
TRAVEL_STYL_5                   0
TRAVEL_STYL_6                   0
TRAVEL_STYL_7                   0
TRAVEL_STYL_8                   0
TRAVEL_STATUS_RESIDENCE         0
TRAVEL_STATUS_DESTINATION       0
TRAVEL_STATUS_ACCOMPANY         0
TRAVEL_STATUS_YMD               0
TRAVEL_MOTIVE_1                 0
TRAVEL_MOTIVE_2                82
TRAVEL_MOTIVE_3               163
TRAVEL_COMPANIONS_NUM           0
dtype: int64

In [33]:
user_info_H.columns

Index(['TRAVELER_ID', 'RESIDENCE_SGG_CD', 'GENDER', 'AGE_GRP', 'EDU_NM',
       'EDU_FNSH_SE', 'MARR_STTS', 'FAMILY_MEMB', 'JOB_NM', 'JOB_ETC',
       'INCOME', 'HOUSE_INCOME', 'TRAVEL_TERM', 'TRAVEL_NUM',
       'TRAVEL_LIKE_SIDO_1', 'TRAVEL_LIKE_SGG_1', 'TRAVEL_LIKE_SIDO_2',
       'TRAVEL_LIKE_SGG_2', 'TRAVEL_LIKE_SIDO_3', 'TRAVEL_LIKE_SGG_3',
       'TRAVEL_STYL_1', 'TRAVEL_STYL_2', 'TRAVEL_STYL_3', 'TRAVEL_STYL_4',
       'TRAVEL_STYL_5', 'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8',
       'TRAVEL_STATUS_RESIDENCE', 'TRAVEL_STATUS_DESTINATION',
       'TRAVEL_STATUS_ACCOMPANY', 'TRAVEL_STATUS_YMD', 'TRAVEL_MOTIVE_1',
       'TRAVEL_MOTIVE_2', 'TRAVEL_MOTIVE_3', 'TRAVEL_COMPANIONS_NUM'],
      dtype='object')

In [ ]:
# ---------------------------------------------------------
# 데이터 mapping 겸 description
# ---------------------------------------------------------

map_dict = {
    'TRAVELER_ID':'여행객ID',
    'GENDER':'성별',
    'AGE_GRP':'연령대',
    'MARR_STTS':'혼인상태', # MAR
    'JOB_NM':'직업', # JOB
    'INCOME':'본인소득', # INC
    'TRAVEL_NUM':'여행빈도', # 연간 여행 빈도
    'TRAVEL_STYL_1':'여행스타일', # TSY
    'TRAVEL_STATUS_RESIDENCE':'거주지', #
    'TRAVEL_STATUS_DESTINATION':'목적지', #
    'TRAVEL_STATUS_ACCOMPANY':'동반현황',
    'TRAVEL_STATUS_YMD':'여행일자',
    'TRAVEL_MOTIVE_1':'여행동기', # TMT
    'TRAVEL_COMPANIONS_NUM':'여행동반자수'
}

In [35]:
map_dict.keys()

dict_keys(['TRAVELER_ID', 'GENDER', 'AGE_GRP', 'MARR_STTS', 'JOB_NM', 'INCOME', 'TRAVEL_NUM', 'TRAVEL_STYL_1', 'TRAVEL_STATUS_RESIDENCE', 'TRAVEL_STATUS_DESTINATION', 'TRAVEL_STATUS_ACCOMPANY', 'TRAVEL_STATUS_YMD', 'TRAVEL_MOTIVE_1', 'TRAVEL_COMPANIONS_NUM'])

In [ ]:
# ---------------------------------------------------------
# 데이터 column filtering
# ---------------------------------------------------------
user_info = user_info_H[list(map_dict.keys())]

In [37]:
print(len(user_info))
print(len(set(user_info.TRAVELER_ID.to_list())))

2880
2880

In [38]:
user_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2880 entries, 0 to 319
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   TRAVELER_ID                2880 non-null   object
 1   GENDER                     2880 non-null   object
 2   AGE_GRP                    2880 non-null   int64
 3   MARR_STTS                  2880 non-null   int64
 4   JOB_NM                     2880 non-null   int64
 5   INCOME                     2880 non-null   int64
 6   TRAVEL_NUM                 2880 non-null   int64
 7   TRAVEL_STYL_1              2880 non-null   int64
 8   TRAVEL_STATUS_RESIDENCE    2880 non-null   object
 9   TRAVEL_STATUS_DESTINATION  2880 non-null   object
 10  TRAVEL_STATUS_ACCOMPANY    2880 non-null   object
 11  TRAVEL_STATUS_YMD          2880 non-null   object
 12  TRAVEL_MOTIVE_1            2880 non-null   int64
 13  TRAVEL_COMPANIONS_NUM      2880 non-null   int64
dtypes: int64(8), object(6)
memory usage: 337.5+ KB

In [39]:
user_info[:20]

,TRAVELER_ID,GENDER,AGE_GRP,MARR_STTS,JOB_NM,INCOME,TRAVEL_NUM,TRAVEL_STYL_1,TRAVEL_STATUS_RESIDENCE,TRAVEL_STATUS_DESTINATION,TRAVEL_STATUS_ACCOMPANY,TRAVEL_STATUS_YMD,TRAVEL_MOTIVE_1,TRAVEL_COMPANIONS_NUM
0,g003414,남,20,1,3,1,2,3,대전광역시,전남,2인 여행(가족 외),2023-07-08~2023-07-09,1,1
1,h006468,남,40,2,1,8,2,1,제주특별자치도,제주,자녀 동반 여행,2023-09-16~2023-09-16,8,2
2,h003272,여,50,1,2,4,1,3,제주특별자치도,제주,나홀로 여행,2023-08-27~2023-08-27,6,0
3,h006175,여,20,1,2,6,2,4,대구광역시,제주,나홀로 여행,2023-09-06~2023-09-07,1,0
4,e000899,여,30,1,2,5,1,3,서울특별시,경기,부모 동반 여행,2023-05-27~2023-05-29,2,2
5,h002865,여,30,1,12,1,1,3,부산광역시,제주,2인 여행(가족 외),2023-09-02~2023-09-04,3,1
6,e006309,남,30,1,13,2,2,3,서울특별시,도서 지역,나홀로 여행,2023-08-03~2023-08-05,7,0
7,h004106,여,20,1,3,3,7,1,광주광역시,제주,나홀로 여행,2023-08-17~2023-08-21,4,0
8,h000092,여,20,1,13,6,4,1,충청남도,제주,나홀로 여행,2023-05-23~2023-05-26,1,0
9,h000468,여,30,1,13,4,3,6,경기도,제주,2인 여행(가족 외),2023-06-08~2023-06-10,2,1
10,g003412,여,30,2,12,4,1,4,경기도,전북,2인 가족 여행,2023-07-05~2023-07-06,5,1
11,g001982,여,20,1,12,1,5,2,충청북도,전남,2인 여행(가족 외),2023-06-14~2023-06-15,1,1
12,h005961,남,40,2,1,7,1,3,서울특별시,제주,자녀 동반 여행,2023-08-31~2023-09-04,3,2
13,e013050,남,50,2,3,8,1,4,서울특별시,도서 지역,자녀 동반 여행,2023-09-03~2023-09-03,3,3
14,e005738,남,40,1,1,6,1,4,경기도,인천,나홀로 여행,2023-08-05~2023-08-05,4,0
15,h006653,여,30,1,4,4,2,2,제주특별자치도,제주,2인 여행(가족 외),2023-09-17~2023-09-17,2,1
16,e005457,남,30,2,13,7,1,2,경기도,도서 지역,나홀로 여행,2023-07-22~2023-07-23,5,0
17,e002448,여,30,1,13,4,2,4,경기도,경기,2인 여행(가족 외),2023-06-09~2023-06-10,3,1
18,h000032,여,30,2,2,7,1,3,서울특별시,제주,2인 가족 여행,2023-05-25~2023-05-28,2,1
19,e002614,남,30,1,12,2,3,4,경기도,인천,3인 이상 여행(가족 외),2023-06-11~2023-06-12,3,2

In [ ]:
# ---------------------------------------------------------
# 데이터 전처리
# ---------------------------------------------------------

# split해서 컬럼 분리
user_info[['start_date', 'end_date']] = user_info['TRAVEL_STATUS_YMD'].str.split('~', expand=True)

# datetime 변환
user_info['start_date'] = pd.to_datetime(user_info['start_date'])
user_info['end_date'] = pd.to_datetime(user_info['end_date'])

# month 추출 (시작일 기준)
user_info['MONTH'] = user_info['start_date'].dt.month

# season 생성
def get_season(m):
    if m in [12, 1, 2]:
        return 'winter'
    elif m in [3, 4, 5]:
        return 'spring'
    elif m in [6, 7, 8]:
        return 'summer'
    else:
        return 'autumn'

user_info['SEASON'] = user_info['MONTH'].apply(get_season)

# 여행 며칠 다녀왔는지
user_info['HOW_LONG'] = (user_info['end_date'] - user_info['start_date']).dt.days + 1

C:\Users\User\AppData\Local\Temp\ipykernel_4600\1270321213.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_info[['start_date', 'end_date']] = user_info['TRAVEL_STATUS_YMD'].str.split('~', expand=True)
C:\Users\User\AppData\Local\Temp\ipykernel_4600\1270321213.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_info[['start_date', 'end_date']] = user_info['TRAVEL_STATUS_YMD'].str.split('~', expand=True)
C:\Users\User\AppData\Local\Temp\ipykernel_4600\1270321213.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_info['start_date'] = pd.to_datetime(user_info['start_date'])
C:\Users\User\AppData\Local\Temp\ipykernel_4600\1270321213.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_info['end_date'] = pd.to_datetime(user_info['end_date'])
C:\Users\User\AppData\Local\Temp\ipykernel_4600\1270321213.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_info['MONTH'] = user_info['start_date'].dt.month
C:\Users\User\AppData\Local\Temp\ipykernel_4600\1270321213.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_info['SEASON'] = user_info['MONTH'].apply(get_season)
C:\Users\User\AppData\Local\Temp\ipykernel_4600\1270321213.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_info['HOW_LONG'] = (user_info['end_date'] - user_info['start_date']).dt.days + 1

In [ ]:
# 다 쓴 컬럼 드랍
user_info = user_info.drop(['TRAVEL_STATUS_YMD', 'start_date', 'end_date'], axis=1)

In [42]:
user_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2880 entries, 0 to 319
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   TRAVELER_ID                2880 non-null   object
 1   GENDER                     2880 non-null   object
 2   AGE_GRP                    2880 non-null   int64
 3   MARR_STTS                  2880 non-null   int64
 4   JOB_NM                     2880 non-null   int64
 5   INCOME                     2880 non-null   int64
 6   TRAVEL_NUM                 2880 non-null   int64
 7   TRAVEL_STYL_1              2880 non-null   int64
 8   TRAVEL_STATUS_RESIDENCE    2880 non-null   object
 9   TRAVEL_STATUS_DESTINATION  2880 non-null   object
 10  TRAVEL_STATUS_ACCOMPANY    2880 non-null   object
 11  TRAVEL_MOTIVE_1            2880 non-null   int64
 12  TRAVEL_COMPANIONS_NUM      2880 non-null   int64
 13  MONTH                      2880 non-null   int32
 14  SEASON                     2880 non-null   object
 15  HOW_LONG                   2880 non-null   int64
dtypes: int32(1), int64(9), object(6)
memory usage: 371.2+ KB

In [43]:
user_info[:20]

,TRAVELER_ID,GENDER,AGE_GRP,MARR_STTS,JOB_NM,INCOME,TRAVEL_NUM,TRAVEL_STYL_1,TRAVEL_STATUS_RESIDENCE,TRAVEL_STATUS_DESTINATION,TRAVEL_STATUS_ACCOMPANY,TRAVEL_MOTIVE_1,TRAVEL_COMPANIONS_NUM,MONTH,SEASON,HOW_LONG
0,g003414,남,20,1,3,1,2,3,대전광역시,전남,2인 여행(가족 외),1,1,7,summer,2
1,h006468,남,40,2,1,8,2,1,제주특별자치도,제주,자녀 동반 여행,8,2,9,autumn,1
2,h003272,여,50,1,2,4,1,3,제주특별자치도,제주,나홀로 여행,6,0,8,summer,1
3,h006175,여,20,1,2,6,2,4,대구광역시,제주,나홀로 여행,1,0,9,autumn,2
4,e000899,여,30,1,2,5,1,3,서울특별시,경기,부모 동반 여행,2,2,5,spring,3
5,h002865,여,30,1,12,1,1,3,부산광역시,제주,2인 여행(가족 외),3,1,9,autumn,3
6,e006309,남,30,1,13,2,2,3,서울특별시,도서 지역,나홀로 여행,7,0,8,summer,3
7,h004106,여,20,1,3,3,7,1,광주광역시,제주,나홀로 여행,4,0,8,summer,5
8,h000092,여,20,1,13,6,4,1,충청남도,제주,나홀로 여행,1,0,5,spring,4
9,h000468,여,30,1,13,4,3,6,경기도,제주,2인 여행(가족 외),2,1,6,summer,3
10,g003412,여,30,2,12,4,1,4,경기도,전북,2인 가족 여행,5,1,7,summer,2
11,g001982,여,20,1,12,1,5,2,충청북도,전남,2인 여행(가족 외),1,1,6,summer,2
12,h005961,남,40,2,1,7,1,3,서울특별시,제주,자녀 동반 여행,3,2,8,summer,5
13,e013050,남,50,2,3,8,1,4,서울특별시,도서 지역,자녀 동반 여행,3,3,9,autumn,1
14,e005738,남,40,1,1,6,1,4,경기도,인천,나홀로 여행,4,0,8,summer,1
15,h006653,여,30,1,4,4,2,2,제주특별자치도,제주,2인 여행(가족 외),2,1,9,autumn,1
16,e005457,남,30,2,13,7,1,2,경기도,도서 지역,나홀로 여행,5,0,7,summer,2
17,e002448,여,30,1,13,4,2,4,경기도,경기,2인 여행(가족 외),3,1,6,summer,2
18,h000032,여,30,2,2,7,1,3,서울특별시,제주,2인 가족 여행,2,1,5,spring,4
19,e002614,남,30,1,12,2,3,4,경기도,인천,3인 이상 여행(가족 외),3,2,6,summer,2

In [ ]:
# ---------------------------------------------------------
# 데이터 저장
# ---------------------------------------------------------

user_info.to_csv(save_path / "rating_user_info_all.csv")

## data join

In [12]:
import pandas as pd
import numpy as np
from pathlib import Path
from scipy.sparse import coo_matrix

BASE_DIR = Path().resolve().parent.parent.parent
# base_path =  BASE_DIR / "data" / "train" / "TL_csv"
base_path = BASE_DIR / "AI 모델" / "1.모델소스코드" / "1.여행로그 장소 추천 고도화" / "data"
save_path = BASE_DIR / "AI 모델" / "1.모델소스코드" / "1.여행로그 장소 추천 고도화" / "model"

In [13]:
import pickle
import json
import pandas as pd
from scipy.sparse import load_npz


# 1) LightFM 모델 로드
with open(save_path / "lightfm_model.pkl", "rb") as f:
    model = pickle.load(f)

# 2) item_features_matrix 로드
item_features_matrix = load_npz(save_path / "item_features_matrix.npz")

# 3) item 메타데이터 로드
item_meta = pd.read_csv(save_path / "item_meta.csv")

c:\Users\User\Desktop\xodls\through_pjt_ai\venv_lightfm_real\lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

In [25]:
dfh_info = dfh[['VISIT_AREA_NM','ROAD_NM_ADDR','LOTNO_ADDR','X_COORD','Y_COORD']].drop_duplicates(subset=['VISIT_AREA_NM'])

In [26]:
item_meta2 = item_meta.merge(dfh_info, on='VISIT_AREA_NM', how='left', suffixes=('', '_'))

In [27]:
item_meta2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1257 entries, 0 to 1256
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_id             1257 non-null   int64
 1   VISIT_AREA_NM       1257 non-null   object
 2   SIDO                1257 non-null   object
 3   VISIT_AREA_TYPE_CD  1257 non-null   int64
 4   ratings             1257 non-null   float64
 5   ROAD_NM_ADDR        836 non-null    object
 6   LOTNO_ADDR          1240 non-null   object
 7   X_COORD             1223 non-null   float64
 8   Y_COORD             1223 non-null   float64
dtypes: float64(3), int64(2), object(4)
memory usage: 98.2+ KB

In [24]:
item_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1257 entries, 0 to 1256
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_id             1257 non-null   int64
 1   VISIT_AREA_NM       1257 non-null   object
 2   SIDO                1257 non-null   object
 3   VISIT_AREA_TYPE_CD  1257 non-null   int64
 4   ratings             1257 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 49.2+ KB

In [28]:
item_meta2.to_csv(save_path / "item_meta.csv")