# Gower distance 기반 군집 내 최유사 유저

In [1]:
import pandas as pd
import numpy as np
from kmodes.kprototypes import KPrototypes
from sklearn.preprocessing import StandardScaler
from pathlib import Path

BASE_DIR = Path().resolve().parent.parent.parent
base_path = BASE_DIR / "AI 모델" / "1.모델소스코드" / "1.여행로그 장소 추천 고도화" 
data_path = base_path / "data"
save_path = BASE_DIR / "AI 모델" / "1.모델소스코드" / "3.여행루트추천" / "model"
gps_data_path = BASE_DIR / "AI 모델" / "1.모델소스코드" / "3.여행루트추천" / "data"

df_raw = pd.read_csv(save_path / "rating_user_info_all_cluster.csv")

In [2]:
from joblib import load

model_path = save_path / "user_cluster_kproto.joblib"
artifacts = load(model_path)

kproto = artifacts["kproto"]
scaler = artifacts["scaler"]
cat_cols = artifacts["cat_cols"]
num_cols = artifacts["num_cols"]
cat_idx = artifacts["cat_idx"]
cluster_labels = artifacts["cluster_labels"]
num_medians = artifacts["num_medians"]
cluster_name_map = artifacts["cluster_labels_name_map"]

print("✅ 모델 아티팩트 로드 완료")

✅ 모델 아티팩트 로드 완료

In [3]:
# 수치형 컬럼별 min/max
num_mins = df_raw[num_cols].min()
num_maxs = df_raw[num_cols].max()
num_ranges = num_maxs - num_mins
# 0으로 나누는 것 방지
num_ranges[num_ranges == 0] = 1.0

In [4]:
# ---------------------------------------------------------
# 신규 유저용 raw 전처리 함수
# ---------------------------------------------------------
def preprocess_new_user_raw(user_dict):
    new_df = pd.DataFrame([user_dict])

    # 없는 컬럼 자동 보정
    for col in cat_cols:
        if col not in new_df.columns:
            new_df[col] = "Unknown"
    for col in num_cols:
        if col not in new_df.columns:
            new_df[col] = np.nan

    # 결측치 처리
    new_df[cat_cols] = new_df[cat_cols].fillna("Unknown")
    for c in num_cols:
        new_df[c] = new_df[c].fillna(num_medians[c])

    # 타입 정리
    new_df[cat_cols] = new_df[cat_cols].astype(str)
    # 수치형은 float로 두면 됨
    for c in num_cols:
        new_df[c] = new_df[c].astype(float)

    return new_df

In [5]:
# ---------------------------------------------------------
# 군집 내 Gower distance로 최유사 유저 찾기
# ---------------------------------------------------------
def find_most_similar_in_cluster_gower(new_user_raw_df, cluster_id, topn=3):
    """
    new_user_raw_df: preprocess_new_user_raw(user_dict) 결과 (1-row DF, raw scale)
    cluster_id: 이미 예측된 군집 번호

    return: (가장 비슷한 기존 유저 row (df_raw에서), Gower distance 값)
    """
    # 이 군집에 속한 기존 유저만 선택 (raw 기준)
    cluster_members_raw = df_raw[df_raw["cluster"] == cluster_id].copy()

    if len(cluster_members_raw) == 0:
        return None, None

    # 수치형 Gower 부분: |x - y| / range
    # new_user_raw_df[num_cols].iloc[0] : 1D Series
    num_diff = (
        (cluster_members_raw[num_cols].astype(float)
         - new_user_raw_df[num_cols].iloc[0].astype(float))
        .abs()
        / num_ranges
    )

    # 범주형 Gower 부분: 같으면 0, 다르면 1
    cat_diff = (
        cluster_members_raw[cat_cols].astype(str)
        != new_user_raw_df[cat_cols].iloc[0].astype(str)
    ).astype(int)

    # feature-wise distance를 모두 합쳐서 평균
    all_diffs = pd.concat([num_diff, cat_diff], axis=1)
    gower_dist = all_diffs.mean(axis=1)  # 각 row별 Gower distance

    # best_idx = gower_dist.idxmin()
    # best_user = cluster_members_raw.loc[best_idx]
    # best_dist = float(gower_dist.loc[best_idx])

    # return best_user, best_dist

    topn_idx = gower_dist.nsmallest(topn).index
    topn_users = cluster_members_raw.loc[topn_idx].reset_index(drop=True).copy()
    topn_dists = gower_dist.loc[topn_idx].astype(float).tolist()

    return topn_users, topn_dists

In [6]:
def assign_new_user(user_dict):
    """
    완전 신규 유저에 대해 군집 ID와 라벨을 반환하는 함수.

    user_dict 예시:
    {
        "GENDER": "남",
        "AGE_GRP": "30",
        "MARR_STTS": "1",
        "JOB_NM": "3",
        "INCOME": 4,
        "TRAVEL_STYL_1": "2",
        "TRAVEL_STATUS_RESIDENCE": "서울특별시",
        "TRAVEL_STATUS_ACCOMPANY": "2인 여행(가족 외)",
        "TRAVEL_MOTIVE_1": "7",
        "TRAVEL_NUM": 3,
        "TRAVEL_COMPANIONS_NUM": 1,
        "MONTH": "8",
        "SEASON": "summer",
        "HOW_LONG": 3,
    }
    """
    # 1) dict → DataFrame
    new_df = pd.DataFrame([user_dict])

    # 2) 없는 컬럼 자동 추가 (완전 신규 유저 대비)
    for col in cat_cols:
        if col not in new_df.columns:
            new_df[col] = "Unknown"
    for col in num_cols:
        if col not in new_df.columns:
            new_df[col] = np.nan

    # 3) 결측값 처리
    new_df[cat_cols] = new_df[cat_cols].fillna("Unknown")
    for c in num_cols:
        new_df[c] = new_df[c].fillna(num_medians[c])

    # 4) 타입 정리
    new_df[cat_cols] = new_df[cat_cols].astype(str)

    # 5) 스케일링
    new_df[num_cols] = scaler.transform(new_df[num_cols])

    # 6) numpy 변환 (dtype=object 필수)
    new_np = new_df[cat_cols + num_cols].to_numpy(dtype=object)

    # 7) 군집 예측
    cluster = int(kproto.predict(new_np, categorical=cat_idx)[0])
    label = cluster_labels[cluster]

    return cluster, label

In [7]:
def assign_and_find_similar_gower(user_dict):
    """
    1) 신규 유저 군집 예측
    2) 그 군집 안에서 Gower distance 기준 최유사 유저 찾기
    """
    # 1) 군집 예측 (기존에 만든 함수 사용)
    cluster_id, label = assign_new_user(user_dict)

    # 2) raw 전처리
    new_user_raw_df = preprocess_new_user_raw(user_dict)

    # 3) Gower 기반 최유사 유저 탐색
    topn_user, topn_dist = find_most_similar_in_cluster_gower(new_user_raw_df, cluster_id)

    return {
        "cluster_id": cluster_id,
        "cluster_label": label,
        "cluster_name": cluster_name_map[cluster_id],
        "similar_user": topn_user,  # df_raw의 한 row (Series)
        "distance": topn_dist,
    }

In [8]:
example_user = {
    "GENDER": "남",
    "AGE_GRP": "30",
    "MARR_STTS": "1",
    "JOB_NM": "3",
    "INCOME": 4,
    "TRAVEL_STYL_1": "2",
    "TRAVEL_STATUS_RESIDENCE": "서울특별자치도",
    "TRAVEL_STATUS_ACCOMPANY": "2인 여행(가족 외)",
    "TRAVEL_MOTIVE_1": "7",
    "TRAVEL_NUM": 3,
    "TRAVEL_COMPANIONS_NUM": 1,
    "MONTH": "8",
    "SEASON": "summer",
    "HOW_LONG": 3,
}

result = assign_and_find_similar_gower(example_user)

print("신규 유저 군집 ID:", result["cluster_id"])
print("신규 유저 군집 라벨:", result["cluster_label"])
print("신규 유저 군집 라벨 이름:", result["cluster_name"])
print("\n가장 비슷한 기존 유저:")
if result["similar_user"] is not None:
    cols_to_show = ["TRAVELER_ID"] + cat_cols + num_cols if "TRAVELER_ID" in result["similar_user"].index else cat_cols + num_cols
    
    for i in range(len(result["similar_user"])):
        print(result["similar_user"].iloc[i][cols_to_show])
        print("\nGower distance:", result["distance"][i])
else:
    print("해당 군집에 기존 유저가 없습니다.")

신규 유저 군집 ID: 4
신규 유저 군집 라벨: 30대 · 2인 여행(가족 외) · 자연 중간선호 · 평균 3.6일 여행자
신규 유저 군집 라벨 이름: 느슨하게 떠나는 듀오 무드러

가장 비슷한 기존 유저:
GENDER                               남
AGE_GRP                             30
MARR_STTS                            1
JOB_NM                               3
TRAVEL_STYL_1                        2
TRAVEL_STATUS_RESIDENCE          광주광역시
TRAVEL_STATUS_ACCOMPANY    2인 여행(가족 외)
TRAVEL_MOTIVE_1                      3
SEASON                          summer
MONTH                                8
TRAVEL_NUM                           1
TRAVEL_COMPANIONS_NUM                1
HOW_LONG                             3
INCOME                               4
Name: 0, dtype: object

Gower distance: 0.14778325123152708
GENDER                               남
AGE_GRP                             30
MARR_STTS                            1
JOB_NM                               3
TRAVEL_STYL_1                        2
TRAVEL_STATUS_RESIDENCE          부산광역시
TRAVEL_STATUS_ACCOMPANY    2인 여행(가족 외)
TRAVEL_MOTIVE_1                      3
SEASON                          summer
MONTH                                8
TRAVEL_NUM                           4
TRAVEL_COMPANIONS_NUM                1
HOW_LONG                             3
INCOME                               5
Name: 1, dtype: object

Gower distance: 0.15181370353784146
GENDER                               남
AGE_GRP                             30
MARR_STTS                            1
JOB_NM                               3
TRAVEL_STYL_1                        2
TRAVEL_STATUS_RESIDENCE            경기도
TRAVEL_STATUS_ACCOMPANY    2인 여행(가족 외)
TRAVEL_MOTIVE_1                      3
SEASON                          summer
MONTH                                8
TRAVEL_NUM                           5
TRAVEL_COMPANIONS_NUM                1
HOW_LONG                             4
INCOME                               4
Name: 2, dtype: object

Gower distance: 0.15798733286418015

In [9]:
topn_traveler_id = result["similar_user"].TRAVELER_ID.to_list()

In [10]:
print(topn_traveler_id)

['h004211', 'h002667', 'h005746']

In [11]:
for id in topn_traveler_id:
    fname = str(id) + ".csv"
    df_tmp = pd.read_csv(gps_data_path / fname)
    print(df_tmp)

   Unnamed: 0.1  Unnamed: 0  MOBILE_NUM_ID     X_COORD    Y_COORD  \
0             0           1  h004211_80839  126.329890  33.246089
1             1           2  h004211_80839  126.299779  33.225816
2             2           3  h004211_80839  126.675563  33.435051
3             3           4  h004211_80839  126.804443  33.545862
4             4           5  h004211_80839  126.843479  33.530529
5             5           6  h004211_80839  126.842431  33.533294
6             6           7  h004211_80839  126.795921  33.532067
7             7           8  h004211_80839  126.665361  33.541894
8             8           9  h004211_80839  126.377223  33.483825
9             9          10  h004211_80839  126.312798  33.462531

                DT_MIN  TRAVEL_ID  TRAVEL_DAY                  ADDRESS_FULL  \
0  2023-09-01 12:00:00  h_h004211           1  제주특별자치도 서귀포시 안덕면 화순리 1050-16
1  2023-09-01 13:10:00  h_h004211           1     제주특별자치도 서귀포시 안덕면 형제해안로 70
2  2023-09-01 15:05:00  h_h004211           1    제주특별자치도 제주시 조천읍 교래리 산 56-6
3  2023-09-01 18:55:00  h_h004211           1    제주특별자치도 제주시 구좌읍 행원리 1144-3
4  2023-09-01 20:30:00  h_h004211           1     제주특별자치도 제주시 구좌읍 평대리 580-6
5  2023-09-01 22:06:00  h_h004211           1   제주특별자치도 제주시 구좌읍 평대리 1994-19
6  2023-09-02 08:36:00  h_h004211           2    제주특별자치도 제주시 구좌읍 행원리 1950-7
7  2023-09-02 11:51:00  h_h004211           2    제주특별자치도 제주시 조천읍 함덕리 1269-4
8  2023-09-02 14:48:00  h_h004211           2      제주특별자치도 제주시 애월읍 구엄리 1292
9  2023-09-02 15:30:00  h_h004211           2      제주특별자치도 제주시 애월읍 애월리 2628

  ADDRESS_1DEPTH ADDRESS_2DEPTH ADDRESS_3DEPTH  ADDRESS_NAME
0        제주특별자치도           서귀포시        안덕면 화순리  컴포즈커피 서귀포화순점
1        제주특별자치도           서귀포시            안덕면         산계원식당
2        제주특별자치도            제주시        조천읍 교래리          금보가든
3        제주특별자치도            제주시        구좌읍 행원리           쉬영목
4        제주특별자치도            제주시        구좌읍 평대리         시간을담다
5        제주특별자치도            제주시        구좌읍 평대리         당근과바다
6        제주특별자치도            제주시        구좌읍 행원리         윤슬스테이
7        제주특별자치도            제주시        조천읍 함덕리          선우수산
8        제주특별자치도            제주시        애월읍 구엄리          지구상회
9        제주특별자치도            제주시        애월읍 애월리          한담가든
    Unnamed: 0.1  Unnamed: 0  MOBILE_NUM_ID     X_COORD    Y_COORD  \
0              0           1  h002667_73209  126.484183  33.487637
1              1           2  h002667_73209  126.256404  33.405956
2              2           3  h002667_73209  126.241861  33.394973
3              3           4  h002667_73209  126.328123  33.347733
4              4           5  h002667_73209  126.305862  33.351119
5              5           6  h002667_73209  126.366888  33.448723
6              6           7  h002667_73209  126.365830  33.446672
7              7           8  h002667_73209  126.249796  33.399966
8              8           9  h002667_73209  126.215403  33.377937
9              9          10  h002667_73209  126.407515  33.247426
10            10          11  h002667_73209  126.405988  33.244481
11            11          12  h002667_73209  126.201869  33.271439
12            12          13  h002667_73209  126.227090  33.334539
13            13          14  h002667_73209  126.478136  33.494549

                 DT_MIN  TRAVEL_ID  TRAVEL_DAY                ADDRESS_FULL  \
0   2023-08-19 09:48:00  h_h002667           1         제주특별자치도 제주시 노형동 949
1   2023-08-19 11:51:00  h_h002667           1   제주특별자치도 제주시 한림읍 옹포리 324-3
2   2023-08-19 12:25:00  h_h002667           1     제주특별자치도 제주시 한림읍 한림로 358
3   2023-08-19 15:34:00  h_h002667           1   제주특별자치도 제주시 한림읍 금악리 142-2
4   2023-08-19 16:31:00  h_h002667           1    제주특별자치도 제주시 한림읍 금악리 1209
5   2023-08-19 17:51:00  h_h002667           1       제주특별자치도 제주시 애월읍 하가리 4
6   2023-08-20 10:47:00  h_h002667           2     제주특별자치도 제주시 애월읍 신상로 308
7   2023-08-20 12:57:00  h_h002667           2     제주특별자치도 제주시 한림읍 옹포2길 10
8   2023-08-20 13:28:00  h_h002667           2   제주특별자치도 제주시 한림읍 월령리 359-4
9   2023-08-21 10:23:00  h_h002667           3   제주특별자치도 서귀포시 중문관광로72번길 75
10  2023-08-21 10:51:00  h_h002667           3  제주특별자치도 서귀포시 중문관광로72번길 100
11  2023-08-21 12:18:00  h_h002667           3   제주특별자치도 서귀포시 대정읍 무릉리 2802
12  2023-08-21 12:52:00  h_h002667           3  제주특별자치도 제주시 한경면 조수리 1472-3
13  2023-08-21 15:29:00  h_h002667           3      제주특별자치도 제주시 노형동 1100-7

   ADDRESS_1DEPTH ADDRESS_2DEPTH ADDRESS_3DEPTH  ADDRESS_NAME
0         제주특별자치도            제주시            노형동     대춘해장국 노형점
1         제주특별자치도            제주시        한림읍 옹포리            문쏘
2         제주특별자치도            제주시            한림읍    운치 협재갈치전문점
3         제주특별자치도            제주시        한림읍 금악리          우유부단
4         제주특별자치도            제주시        한림읍 금악리          그모르메
5         제주특별자치도            제주시        애월읍 하가리       제주황토리조트
6         제주특별자치도            제주시            애월읍        스테이베다니
7         제주특별자치도            제주시            한림읍          옹포횟집
8         제주특별자치도            제주시        한림읍 월령리           선인장
9         제주특별자치도           서귀포시            NaN  제주신라호텔 더 파크뷰
10        제주특별자치도           서귀포시            NaN  파르나스호텔제주 콘페티
11        제주특별자치도           서귀포시        대정읍 무릉리          제주고로
12        제주특별자치도            제주시        한경면 조수리    크래커스커피 한경점
13        제주특별자치도            제주시            노형동   애월빵공장 제주공항점
    Unnamed: 0.1  Unnamed: 0  MOBILE_NUM_ID     X_COORD    Y_COORD  \
0              0           0  h005746_98409  126.399616  33.480175
1              1           1  h005746_98409  126.366135  33.390411
2              2           2  h005746_98409  126.311304  33.459964
3              3           3  h005746_98409  126.254282  33.407056
4              4           5  h005746_98409  126.312822  33.236191
5              5           6  h005746_98409  126.564597  33.249550
6              6           7  h005746_98409  126.702500  33.273476
7              7           8  h005746_98409  126.701626  33.273231
8              8           9  h005746_98409  126.912115  33.446413
9              9          10  h005746_98409  126.704736  33.458921
10            10          11  h005746_98409  126.707678  33.460254
11            11          12  h005746_98409  126.916968  33.437338
12            12          13  h005746_98409  126.794739  33.556100
13            13          14  h005746_98409  126.795566  33.556033
14            14          15  h005746_98409  126.542340  33.493378
15            15          16  h005746_98409  126.531504  33.499213

                 DT_MIN  TRAVEL_ID  TRAVEL_DAY                 ADDRESS_FULL  \
0   2023-09-01 09:51:00  h_h005746           1  제주특별자치도 제주시 애월읍 하귀2리 1869-3
1   2023-09-01 12:29:00  h_h005746           1   제주특별자치도 제주시 애월읍 천덕로 880-24
2   2023-09-01 13:42:00  h_h005746           1     제주특별자치도 제주시 애월읍 애월리 2628
3   2023-09-01 14:48:00  h_h005746           1    제주특별자치도 제주시 한림읍 옹포리 350-1
4   2023-09-01 17:42:00  h_h005746           1   제주특별자치도 서귀포시 안덕면 사계리 177-2
5   2023-09-01 18:48:00  h_h005746           1         제주특별자치도 서귀포시 서귀동 340
6   2023-09-01 20:17:00  h_h005746           1  제주특별자치도 서귀포시 남원읍 태위로 522-12
7   2023-09-01 23:00:00  h_h005746           1  제주특별자치도 서귀포시 남원읍 태위로 522-12
8   2023-09-02 16:05:00  h_h005746           2  제주특별자치도 서귀포시 성산읍 고성리 1106-3
9   2023-09-02 19:06:00  h_h005746           2   제주특별자치도 제주시 조천읍 선흘리 1829-3
10  2023-09-03 11:05:00  h_h005746           3  제주특별자치도 제주시 조천읍 선흘리 1834-11
11  2023-09-03 12:19:00  h_h005746           3   제주특별자치도 서귀포시 성산읍 고성리 519-5
12  2023-09-03 15:06:00  h_h005746           3     제주특별자치도 제주시 구좌읍 월정리 1896
13  2023-09-03 15:21:00  h_h005746           3    제주특별자치도 제주시 구좌읍 월정리 652-4
14  2023-09-03 16:12:00  h_h005746           3        제주특별자치도 제주시 아라이동 3017
15  2023-09-03 16:28:00  h_h005746           3        제주특별자치도 제주시 이도이동 1939

   ADDRESS_1DEPTH ADDRESS_2DEPTH ADDRESS_3DEPTH  ADDRESS_NAME
0         제주특별자치도            제주시       애월읍 하귀2리        해변여행횟집
1         제주특별자치도            제주시            애월읍     9.81파크 제주
2         제주특별자치도            제주시        애월읍 애월리      갈치바다 애월점
3         제주특별자치도            제주시        한림읍 옹포리   해안도로입구 옹포귀덕
4         제주특별자치도           서귀포시        안덕면 사계리  순천미향 제주산방산본점
5         제주특별자치도           서귀포시            서귀동        남매네왕갈치
6         제주특별자치도           서귀포시            남원읍  BBQ 금호제주리조트점
7         제주특별자치도           서귀포시            남원읍  금호리조트 제주아쿠아나
8         제주특별자치도           서귀포시        성산읍 고성리        고기에오르다
9         제주특별자치도            제주시        조천읍 선흘리        커피공방무무
10        제주특별자치도            제주시        조천읍 선흘리         아꼬아펜션
11        제주특별자치도           서귀포시        성산읍 고성리        바글바글제주
12        제주특별자치도            제주시        구좌읍 월정리      월정리에서브런치
13        제주특별자치도            제주시        구좌읍 월정리       월정리해수욕장
14        제주특별자치도            제주시           아라이동         촐리케이크
15        제주특별자치도            제주시           이도이동         겟스페이스